body {
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .header{
  text-decoration: underline;
  font-size:25px;
  color:rgb(85, 74, 74);
  }
 .nav{
    min-height: 75px;
  }
  
  ul{
    display: flex;
    justify-content: space-around;
  }
  
  li{
    list-style: none;
    margin-top: 0px;
   font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    margin: 15px 0px;
  }
  
  li:hover{
    background-color:#faa652;
    cursor: pointer;
	border-radius:250px;
  }
  
  a{
    text-decoration: none;
    color: black;
  }

.image {
    position: relative;
    height: 525px;
    width: 100%;
    display:flex;
}

.image img {
    width: 100%;
    height: 525px;
    z-index: 0;
}
#overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  left: 0;
  right: 0;
  bottom: 0;
  opacity:1;
  z-index: 2; 
  
}

.image .img-txt {
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    z-index: 1;
    text-align: center;
}

.img-txt h1 {
    font-size: 40px;
    padding-left: 150px;
    text-align: center;
}

.img-txt p {
    font-size: 25px;
    padding-left: 110px;
}
.about-statement{
    width: 80%;
    margin-top: 25px;
  }
  
  .about-statement p{
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .about-img img{
      width: 400px;
      height: 300px;
  }
  .menu-img img{
      width:800px;
      height: 400px;
  }
 .buy a{
     
     color:rgb(60, 70, 167);
     font-weight:1 rem;
     font-size: 30px;
     
 }
 .g-img .i1, .i2,.i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10 {
     height: 200px;
     width: 225px;
	 border-radius:10px;
 }
 
 